{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Test
{% endblock %}

{% block body %}
    {#Création de variable#}
    {% set name = "Jérémie" %}
    {#Affichage d'une variable#}
    <h2>Prénom : {{ name }}</h2>

    {#Création de tableau#}
    {% set colors = ['blue', 'pink', 'purple', 'green','red'] %}
    {% for color in colors %}
        {% if loop.first %}
            <p>Première itération</p>
        {% endif %}
        <div>Position de l'élément {{ loop.index }} / {{ loop.length }}</div>
        <div style="background-color: {{ color }}">{{ color }}</div>
    {% endfor %}

    {#Manipulation d'objet#}
    {% set serie = {
        title: "Breaking bad",
        year: 2008
    } %}
    <h2>Title : {{ serie.title }}</h2>

    {% for key, val in serie %}
        <p>{{ key }}: {{ val }}</p>
    {% endfor %}

    {#Quelques filtres !#}

    <h3>Filtres</h3>
    <div>{{ name | upper }} : {{ name | length }}</div>
    <div>Colors : {{ colors | join(", ") }}</div>
    <div>{{ "now" | date('d-m-Y H:m:s') }}</div>
{% endblock %}