{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | List
{% endblock %}

{% block body %}
<h2>List of series !</h2>
    <section class="series-list">
    {% for serie in series %}
        <article>
            <a href="{{ path('serie_show', {'id': serie.id}) }}" title="View serie's detail of {{ serie.name }} | {{ serie.seasons | length }} seasons">
                <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                <p>{{ serie.name }}</p>
            </a>
        </article>
    {% endfor %}
    </section>
    <div class="flex_between flex_div">
        {% if page > 1 %}
        <a href="{{ path('serie_list', {'page': page-1}) }}" class="link_button">👈 Previous page </a>
            {% else %}
            <div></div>
        {% endif %}
        {% if page < maxPage %}
        <a href="{{ path('serie_list', {'page': page+1}) }}" class="link_button">Next Page 👉</a>
        {% endif %}
    </div>
{% endblock %}


